
/* Reset básico */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Poppins', sans-serif;
color: #ffffff;
line-height: 1.6;
scroll-behavior: smooth;
background: #28690e;
display: flex;
flex-direction: column;
transition: background 0.3s, color 0.3s;

}

body.modo-escuro{
    background: #121212;
    color: #ffffff;
}

#mudar-tema{
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: #1a1e24;
    color: white;
    height: 30px;
    width: 30px;
    border: 1px solid white;
}

body.modo-escuro #mudar-tema{
    background: #ffcc00;
    color: black;
    border: 1px solid black;
}

header.modo-escuro {
    background: #1212127a;
    color: #ffffff;
}

/* MENU FIXO - position: fixed + flex */
header {
position: fixed;
top: 0;
width: 100%;
background: #225e0085;
z-index: 1000;
box-shadow: 0 0px 2px rgba(0, 0, 0, 0.7);
transition: background 0.3s, color 0.3s;

}

.card{
padding: 25px;
width: 260px;
border-radius: 10px;
box-shadow: 0 2px 10px rgb(0, 0, 0);
cursor: pointer;
background-color: white;
transition: background-color 0.3s ease, transform 0.3s ease;
display: inline-block;
cursor: pointer;
}

.card:hover{
    transform: translateY(-8px);
    background-color: #9ef7b1;
}

.titulo{
align-items: center;
text-align: center;
}

h2{
color: rgb(255, 255, 255);
text-align: center;
}

h3{
color: black;
text-align: center;
}
.card-texto{
color: black;
}
.cards-curiosidades {
display: flex;
gap: 25px;
justify-content: center;
flex-wrap: wrap;

}

.cards-beneficios {
display: flex;
gap: 25px;
justify-content: center;
flex-wrap: wrap;
margin-bottom: 30px;
}

.cards-riscos {
display: flex;
gap: 25px;
justify-content: center;
flex-wrap: wrap;
}


.p1{
color: black;
text-align: center;
}
.p2{
color: black;
}

/* /////////////////////////////////// */
.texto-extra{
color: black;
width: 500px;
}

.secao{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.escondido{
    display: none;
    text-align: left;
}

.card-claro{
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 2px 10px black;
transition: 0.3s;
}

.card-claro:hover{
transform: scale(1.04);
}

/* Estados do link: link, visited, hover, active */
.menu-link {
text-decoration: none;
font-weight: 600;
padding: 15px 10px;
display: inline-block; /* para padding funcionar */
transition: color 0.3s, transform 0.3s;
position: relative;
}

.menu-link:visited {
color: #ffffff;
}
/* não apaga deixa o nome la em cima escuro*/
.menu-link:hover,
.menu-link:focus {
color: #25ce49;
transform: scale(1.1);
outline: none;
}



/* Principal com background fixo */
.principal {
height: 100vh;
background: url('img/radio.jpeg') center/cover no-repeat fixed;
position: relative;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
padding-top: 60px; /* espaço para menu fixo */
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}

.introducao{
display: grid;
justify-items: center;
background-color: white;
border: 1px solid black;
border-radius: 10px;
text-align: center;
width: 835px;
justify-content: center;
align-items: center;
align-content: center;
text-align: center;
margin: 0 auto;
margin-bottom: 30px;
}
img{
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.conceito{
    display: grid;
    justify-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    width: 835px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.alimento-radioativo{
    display: grid;
    justify-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    width: 835px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.matematica{
    display: grid;
    justify-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    width: 835px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho {
position: absolute;
inset: 0;
background: rgba(0, 0, 0, 0.336);
}

/* não apaga*/
.container {
position: relative;
z-index: 1;
}

/* não apaga*/
.principal h1 {
font-size: 80px;
color: #ffffff;
letter-spacing: 2px;
font-family: "Castoro Titling", monospace;
font-weight: 900;
}
.principal h2 {
    font-size: 40px;
    font-family: "Castoro Titling", monospace;
}


.principal p {
font-size: 1.3rem;
margin: 15px 0;
font-family: "Castoro Titling", monospace;
}

/*não apaga*/
.btn {
background-color: #1e520085;
color: #ffffff;
padding: 12px 30px;
border: none;
border-radius: 5px;
font-weight: bold;
text-decoration: none;
transition: background-color 0.3s ease, transform 0.3s ease;
display: inline-block;
cursor: pointer;
margin-bottom: 15px;
}

/* deixe os botões Amarelos*/
.btn:hover,
.btn:focus {
background-color: #9ef7b1;
transform: scale(1.05);
outline: none;
}

.voltarTopo {
position: sticky;
bottom: 20px;
right: 20px;
background-color: #38d1129a;
color: white;
padding: 10px 15px;
border-radius: 50px;
font-weight: bold;
text-decoration: none;
transition: background-color 0.3s ease, transform 0.3s ease;
float: right;
margin: 15px 20px;
}

.voltarTopo:hover,
.voltarTopo:focus {
background-color: #9ef7b1;
transform: scale(1.1);
outline: none;
}

@media (max-width: 480px) {
.principal h1 {
font-size: 1.8rem;
}

.btn,
.btnContato {
padding: 10px 20px;
font-size: 0.9rem;
}

.menu-link {
font-size: 0.9rem;
}

.voltarTopo {
bottom: 10px;
right: 10px;
padding: 8px 12px;
}
}

footer{
color: black;
}

.rodape{
    background-color: rgb(87, 87, 87);
    border-top: 1px solid black;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: white;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: auto;  /* empurra o footer pro fim */
    


}

.cards-referencias{
background-color: white;
border: 1px solid black;
border-radius: 15px;
box-shadow: 2px 2px 5px black;
width: 835px;
margin: 0 auto;
margin-bottom: 30px;

}

.ref{
    color: black;
    text-align: center;
    list-style-position: inside;
}

.titleInformacoes{
    color: white;
}

.faixa{
    background-color: rgb(53, 53, 53);
    text-align: center;
    height: 35px;
    align-content: center;
}
.container-componentes {
    display: grid;
    grid-template-columns: 1fr 1fr; /* duas colunas para as listas */
}

.title-componentes {
    grid-column: 1 / 3; /* título ocupa toda a largura */
    margin-bottom: 5px;
    color: white;
    margin-left: -150px;
}

.title-disciplinas{
    color: white;
    margin-left: -90px;
}

.container-componentes ul {
    margin: 0;
    padding-left: 20px;
}

.btn-vermais{
    background-color: #38d1129a;
    color: white;
    border: none;
    width: 200xp;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    transition: 0.3s;
    margin-bottom: 15px;
}

.btn-vermais:hover{
    transform: translateY(-5px);
    background-color: #9ef7b1;
}